.ql-x-placeholder, .ql-placeholder, .ql-x-if, .ql-if, .ql-table {
  width: auto !important;
  margin-right: -15px;
}

.ql-x-placeholder:after, .ql-placeholder:after {
  content: "<VAR>";
}

.ql-x-if:after, .ql-if:after {
  content: "<IF>";
}

.ql-table:after {
	content: "<TABLE>";
}

x-placeholder, placeholder {
  background: yellow;
}

x-if, if {
  background: lightgreen;
  display: block;
}

table td {
  border: 1px solid black;
}